<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ |async"></ul> -->
        <ul class="navbar-nav me-auto mb-2 mb-md-0" >

          <!-- lesson 71 .- ng-container es ideal para condicionales porque oculta o 
            muestra los objetos -->
          <ng-container *ngIf="accountService.currentUser$ |async">
            <li class="nav-item">
              <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lista</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Mensajes</a>
            </li>
          </ng-container>

          <li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="erros">errores</a>
          </li>


        </ul>
        <div class="dropdown" *ngIf="(accountService.currentUser$ |async) as objUsuario" dropdown>
          <!-- clase 136 en esta linea de abajo se agregará la foto del usuario -->
          <img src="{{objUsuario.photoUrl || './assets/user.png'}}"  alt="{{objUsuario.photoUrl}}">
            <a class="dropdown-toggle text-light" dropdownToggle>Bienvenido {{objUsuario.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <form *ngIf="(accountService.currentUser$ |async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
          <input class="form-control me-2" 
          type="text" 
          placeholder="Usuario"
          name="Username"
          [(ngModel)]="model.Username"
          >
          <input class="form-control me-2" 
          type="password" 
          placeholder="Clave"
          name="password"
          [(ngModel)]="model.password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>

        <a class="btn btn-success ml-2" routerLink="member/clave">Recuperar clave</a>

      </div>
    </div>
  </nav>